@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;

}
                                                            /* shared style */
.font{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    color: white;
}
                                                                /* navbar section */
.navbar{
    padding-top :30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background-color: #1A0B2E;
}
.menu{
    display: flex;
    gap: 32px;
}
.menu>p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.menu-icon{
    display: none;
}
.subscribe-btn>button{
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    background-image: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
}
.subscribe-btn>button:hover{
    cursor: pointer;
    background-image:var(--Linear, linear-gradient(47.64deg, rgb(135, 124, 6),rgb(94, 3, 67),rgb(70, 6, 116))); 
}
                                                /* banner section */
.banner-container{
    background-image: url("./assets/hero-bg.png");
    height: 47.5rem;
    background-position: center;
    background-size: cover;
   
   
}
.banner-container>img{
   max-width: 100%;
   position: relative;
    
}
.circle-png{
   position: absolute;
   left: 35.1875rem;
   top: 12.5rem;
}
.new{
    background-color: #01ff88;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top: 220px;
    left: 825px;
    box-shadow: 0px 20px 50px #01ff888d;
    color: black;
}
.mic-png{
    position: absolute;
    left: 680px;
    top: 275px;
}
.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left:450px;
}
.text-section>h1{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
    margin-top: 40px;

}
.btn-container{
    display: flex;
    margin-top: 1.5rem;
    gap: 0.5rem ;
}
.listen-btn>button{
padding: 12px 20px;
background-image: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
border-radius: 2.4375rem;
border: none;
color: white;
font-size: 1rem;
font-weight: 600;
}
.listen-btn>button:hover{
    cursor: pointer;
    background-image: var(--Linear, linear-gradient(47.64deg, rgb(136, 126, 17),rgb(126, 13, 92),rgb(74, 5, 124)));
    transform: rotateX(5deg) rotateY(5deg) scale(1.15);
    box-shadow: -10px 10px 50px  #7731d2d5;
}
.mail-btn>button{
padding: 12px 20px;
border-radius: 2.43rem;
color: #01ff88;
border: 2px solid #01ff88;
background-color: transparent;
font-size: 1rem;
font-weight: 600;
}
.mail-btn>button:hover{
    cursor: pointer;
    background-color: #01ff88;
    color: #1A0B2E;
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 10px 10px 50px  #7731d2d5;
}
                                                        /* about podcast */
main{
    background-color: rgba(26, 11, 46, 1);;
}
.podcast-section{
    margin: 0 auto;
    padding: 3.125rem 12.5rem 7.5rem;
}
.titel-info>h2{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.titel-info>p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.podcast-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10rem;
    justify-items: center;
}
.cards>h2{
    font-size: 3rem;
    color: #01ff88;
    text-align: left;
}
.cards>p{
    text-align: center;
    color:  var(--#FFFFFF, rgba(255, 255, 255, 1));
}
                                                        /* Why-Choose-TechWave */
.Why-Choose-TechWave{
    background-color: rgb(33, 8, 66);
    padding: 7.5rem 12.5rem;
}
.Why-Choose-TechWave>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.layout-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "p p p m m m m m m m m m"
    "p p p m m m m m m m m m"
    "p p p g g g g g g g g g"
    "p p p g g g g g g g g g"
    "e e e e e e e e e r r r"
    "e e e e e e e e e r r r"
    "e e e e e e e e e r r r";
    gap: 1.875rem;
    padding-top: 2.5rem;
   
}

.audio-quality{
    grid-area: p;
    padding: 6.6875rem 2.5rem ;
    background-color:rgb(40, 3, 88);
}
.audio-quality:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #3b0581d5;
}
.Mobile-Friendly{
    grid-area: m;
    padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Mobile-Friendly:hover{
     transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #3f0589d5;
}
.Global-Community{
    grid-area: g;
     padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Global-Community:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #410391d5;
}
.Exclusive-Interviews {
    grid-area: e;
     padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Exclusive-Interviews:hover {
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #360478d5;
}
.Rich-Resources{
    grid-area: r;
     padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Rich-Resources:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #3d0586d5;
}
.layout{
    box-shadow: 10px 10px 50px rgba(47, 16, 87, 0.489);
    border-radius: 39px;
}
.layout>h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.layout>p{
    color: rgba(128, 128, 128, 0.682);
}

                                                        /* Featured Episodes */
.featured-Episodes{
    padding: 7.5rem 12.5rem;
    /* margin-bottom: 7.5rem; */

}
.featured-titel>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    
}
.featured-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.video{
    background-color: #38077992;
    box-shadow: 10px 10px 50px #32056cb9;
    border-radius: 39px;
    position: relative;
}
.video:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #6b07eed5;
}

.video>h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin:1.5rem ;
}
.video>p{
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.593);
    margin:0.5rem 1.5rem 1.5rem 1.5rem;

}
.iframe{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
}
.time{
    color: #01ff88;
    padding-left: 2.5rem;
     position: absolute;
}
.time-1{
    bottom: 10px;
}
.time-2{
    bottom: 10px;
}
.time-3{
    bottom: 10px;
}
                                                    /* meet the host section */
.Meet-the-Host{
    margin: 7.5rem 12.5rem 0;
    padding-bottom: 7.5rem;
    
}
.Meet-the-Host>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
}
.alex-kumar-card{
    display: flex;
    gap: 1.5rem;
    padding: 2.5rem;
    border-radius: 39px;
    background-color: #23034da1;
 
}
.alex-kumar-card:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #4b06a49d;
}
.alex-umar-info>h3{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.alex-umar-info>p{
    color: rgba(128, 128, 128, 0.663);
    margin-bottom: 1rem;
}
.icons>img{
    margin-left: 0.5rem;
}
                                                        /* footer section */
.div-logo{
    background-image: url("./assets/footer-bg.png");
    background-size: contain;
    height: 25.75rem;
    position: relative;
}
.logo{
    position: absolute;
    left: 39.375rem;
    top: 7.5rem;
}
.sponsor{
    display: grid;
    grid-template-columns: 87px 152px 99px 86px;
    /* position: absolute; */
    gap: 2.625rem;
    /* bottom: 11.875rem;
    left: 30rem; */
    justify-content: center;
    align-content: center;
}
.copy{
    position: absolute;
    bottom: 7.5rem;
    left: 34.375rem;
}














@media screen and (max-width:576px) {
                                                                 /* navbar */
    .logo{
    margin-left: 20px;
    }
    .menu{
    display: none;
    }
    .subscribe-btn{
    display: none;
    }
    .menu-icon{
    display: inline;
    }
    .navbar{
    gap: 25vw;
    }
                                                                 /* banner  */
    .banner-container{
    height: 440px;
    background-size: cover;
    }
    .circle-png>img{
    width: 188px;
    height: 188px;
    }
    .circle-png{
    position: absolute;
    left: 90px;
    top: 158px;
    }
    .new{
    top: 160px;
    left: 220px;
    font-size: 0.625rem;
    }
    .mic-png>img{
    height: 70px;
    width: 46.67px;
    }
    .mic-png{
    position: absolute;
    left: 160px;
    top: 210px;
    }
    .text-section{
   
    bottom: 50px;
    left:2px;
    }
    .text-section>h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 30px;
    }
    .text-section>p{
    text-align: center;
    font-size: 0.8125rem;
    }
    .btn-container{
    gap: 10px;
    }
    .listen-btn>button{
    font-size: 0.625rem;
    margin-bottom: 40px;
    }
    .mail-btn>button{
    font-size: 0.625rem;
    margin-bottom: 40px;
    }
                                                            /* podcast */
    .podcast-section{
    margin: 0 auto;
    padding: 4.5rem 1.25rem;
    }
    .titel-info>h2{
    font-size: 2rem;
    font-weight: 700;
    }
    .titel-info>p{
    margin-top: 1rem;
    }
    .podcast-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
    margin-top: 2.5rem;
    justify-items: center;
    }
                                                                 /* lay-out */
    .Why-Choose-TechWave{
    background-color: rgb(33, 8, 66);
    padding: 7.5rem 0rem;
    }
    .layout-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "p p p p p p p p p p p p"
    "m m m m m m m m m m m m" 
    "g g g g g g g g g g g g"
    "e e e e e e e e e e e e"
    "r r r r r r r r r r r r";
    gap: 1.875rem;
    padding-top: 2.5rem;
    padding-left: 0;
    }
    .featured-Episodes{
    padding: 7.5rem 0.5rem;
    }
    .featured-titel>h2{
    font-size: 1.5rem;
    }
    .featured-cards{
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    }
                                                        /* meet the host */
    .Meet-the-Host{
    margin: 3rem 1rem; 
    text-align: center;
    }
    .Meet-the-Host>h2{
    font-size: 1.5rem;
    font-weight: 700;
    }
    .alex-kumar-card{
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    }
    .alex-umar-info>h3{
        font-size: 1rem;
    }
    .alex-umar-info>p{
        font-size: 0.8125rem;
    }
                                                /* footer section */
    .div-logo{
    height: 15.5rem;
    position: relative;
    }
    .logo{
        position: absolute;
        /* left: 39.375rem; */
        top: 7.5rem;
    }
    .sponsor{
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        gap: 2.625rem;
        bottom: 11.875rem;
        /* left: 30.3125rem; */
    }
    .copy{
        position: absolute;
        bottom: 7.5rem;
        /* left: 34.375rem; */
    }
}
